{% extends 'nav.html' %}
{% block content %}
<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
	<link rel='stylesheet' href='/static/css/materialize.css'>
	<link rel='stylesheet' href='/static/css/materialize.min.css'>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>

<body>
  <div class="container">
    <h2>Appointments</h2>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Day</th>
            <th>Timing</th>
            <th>Problem</th>
            <th>Symptom</th>
            <th>Phone Number</th>
            <th>City</th>

          </tr>
        </thead>
        <tbody>
          {% for row in value  %}
          <tr>
            <td>{{row.first_name}}</td>
            <td>{{row.gender}}</td>
            <td>{{row.age}}</td>
            <td>{{row.day}}</td>
            <td>{{row.timing}}</td>
            <td>{{row.problem}}</td>
            <td>{{row.symptoms}}</td>
            <td>{{row.phone}}</td>
            <td>{{row.city}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


</body>

</html>
{% endblock %}